%% -*- erlang -*-

{erl_opts, [
    debug_info,
    {i, "apps"},
%%        warnings_as_errors,
    warn_unused_vars,
    {parse_transform, lager_transform}
]}. % bin_opt_info

{plugins, [
    {provider_asn1, "0.2.1"}
]}.

{provider_hooks, [
    {pre,  [{compile, {asn, compile}}]},
    {post, [{clean, {asn, clean}}]}
]}.

{asn1_args, [
    {encoding, uper},
    {compile_opts, [{outdir, "src"}]}
]}.

{xref_checks, [undefined_function_calls]}. % export_not_used

{dialyzer, [
    {warnings, [
        no_improper_lists,
        no_undefined_callbacks
    ]}
]}.

{deps, [
    %% Third party shared libs
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.1"}}},
    {backoff, {git, "https://github.com/ferd/backoff.git", {tag, "1.1.1"}}},
    {cowboy, {git, "git://github.com/extend/cowboy.git", {tag, "1.0.4"}}},
    {cowboy_param_extractor, {git, "https://github.com/sumerman/cowboy_param_extractor.git", {tag, "0.1.0"}}},
    {sidejob, {git, "git://github.com/basho/sidejob.git", {tag, "2.0.0"}}},
    {wsock, {git, "https://github.com/madtrick/wsock", {ref, "8ab26bff"}}},
    {zlists, {git, "git://github.com/vjache/erlang-zlists.git", {tag, "0.0.3"}}},
    {edown, {git, "git://github.com/esl/edown.git", {ref, "4d18dc4be"}}},
    {erocksdb, {git, "https://github.com/leo-project/erocksdb.git", {tag, "4.13.5"}}},
    {gen_leader, {git, "https://github.com/abecciu/gen_leader_revival.git", {ref, "a119cb9a"}}},
    {gproc, {git, "git://github.com/uwiger/gproc.git", {tag, "0.6.1"}}},
    {intervals, {git, "git://github.com/define-null/erlang-intervals.git", {ref, "343bd8f"}}},
    {jiffy, {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
    {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.2"}}},
    {lhttpc, {git,"https://github.com/esl/lhttpc.git", {ref, "5ce99d8b"}}},
    {mimetypes, {git, "git://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}},
    {poolboy, {git, "git://github.com/basho/poolboy.git", {tag, "0.8.1p3"}}},
    {recon, {git, "https://github.com/ferd/recon.git", {tag, "2.3.2"}}},
    {eep, {git, "https://github.com/virtan/eep.git", {ref, "8f6e5e3"}}},

    %% Project libs
    {riak_core, {git, "https://github.com/basho/riak_core.git", {tag, "2.1.5"}}},
    {riak_kv, {git, "https://github.com/basho/riak_kv.git", {tag, "2.1.2"}}},
    {riaknostic, {git, "https://github.com/kpy3/riaknostic.git", {ref, "9a81994"}}}
]}.

{overrides, [
    {override, rebar3_protobuffs_plugin, [
        {deps, [{protobuffs, {git, "https://github.com/basho/erlang_protobuffs.git", {tag, "0.9.0"}}}]}
    ]},
    {override, riak_pb, [
        {plugins, [
            {riak_pb_msgcodegen, {git, "https://github.com/tsloughter/riak_pb_msgcodegen.git", {ref, "dc51e30"}}},
            {rebar3_protobuffs_plugin, {git, "https://github.com/cmkarlsson/rebar3_protobuffs_plugin.git", {tag, "0.1.1"}}}
        ]},
        {provider_hooks, [
            {pre, [
                {compile, {protobuffs, compile}},
                {compile, riak_pb_msgcodegen}
            ]}
        ]}
    ]},
    {override, riak_kv, [
        {plugins, [
            {riak_pb_msgcodegen, {git, "https://github.com/tsloughter/riak_pb_msgcodegen.git", {ref, "dc51e30"}}},
            {rebar3_protobuffs_plugin, {git, "https://github.com/cmkarlsson/rebar3_protobuffs_plugin.git", {tag, "0.1.1"}}}
        ]},
        {provider_hooks, [
            {pre, [
                {compile, {protobuffs, compile}},
                {compile, riak_pb_msgcodegen}
            ]}
        ]}
    ]},
    {override, bitcask, [
        {erl_opts, [{d, namespaced_types}]}
    ]},
    {override, eleveldb, [
        {pre_hooks, [
            {compile, "c_src/build_deps.sh get-deps"},
            {compile, "c_src/build_deps.sh"}
        ]},
        {post_hooks, [
            {clean, "c_src/build_deps.sh clean"}
        ]},

        {plugins, [
            {pc, {git, "git://github.com/blt/port_compiler.git", {branch, "master"}}}
        ]},
        {artifacts, ["priv/eleveldb.so"]},

        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]},
    {override, erocksdb, [
        {pre_hooks, [
            {compile, "c_src/build_deps.sh get-deps"},
            {compile, "c_src/build_deps.sh"}
        ]},
        {post_hooks, [
            {clean, "c_src/build_deps.sh clean"}
        ]},
        {plugins, [
            {pc, {git, "git://github.com/blt/port_compiler.git", {branch, "master"}}}
        ]},
        {artifacts, ["priv/erocksdb.so"]},

        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]},
    {override, cuttlefish, [
        {post_hooks, []}
    ]},
    {override, setup, [
        {post_hooks, []}
    ]}
]}.

